{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
    <section class='text-white py-5 my-5 d-flex align-items-center flex-column container'>
        <h1 class="title mt-5">{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" id="auth_form" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn-orange text-white">{% trans 'Sign Out' %}</button>
        </form>
    </section>

{% endblock content %}
