{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
    <section class="mt-5 pt-5 text-white authentication">
        <div class="container pb-5 pt-md-5 d-flex align-items-center flex-column">
            <h1 class="title">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please
                    request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                <form method="POST" id="auth_form" action="{{ action_url }}" class="password_reset_from_key">
                    {% csrf_token %}
                    <div class="form-field">
                        {{ form.password1.errors }}
                        <label for="{{ form.password1.id_for_label }}">Password:</label>
                        {{ form.password1 }}
                    </div>

                    <div class="form-field">
                        {{ form.password2.errors }}
                        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                        {{ form.password2 }}
                    </div>
                    <div class="d-flex justify-content-between my-5">
                        <input type="submit" id='auth_btn' class="btn-orange text-white" name="action"
                               value="{% trans 'Change pass' %}"/>
                    </div>
                </form>
            {% endif %}
        </div>
    </section>
{% endblock content %}
