@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson_Text/CrimsonText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson_Text/CrimsonText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #26222A;
    font-family: "Crimson Text", sans-serif;
    font-weight: normal;
    font-style: normal;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}
/* Container to wrap content */
.container-big {
    max-width: calc(1300px + 4rem);
    padding: 0 2rem;
    margin: 0 auto;
}

.container {
    max-width: calc(1160px + 4rem);
    padding: 0 2rem;
    margin: 0 auto;
}

.title {
    font-size: 2.8rem;
    letter-spacing: -0.05625rem;
}

.orange {
    color: #FF8A00;
}

.active {
    color: #FF8A00 !important;
}

.d-contents {
    display: contents;
}
/* Header section */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #26222A;
    z-index: 999;
}

.logo {
    font-size: 2.3rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav {
    align-items: center;
}

.nav-link:hover {
    scale: 1.05;
}

li.nav-item:last-of-type {
    margin: 0.4rem 0;
}

.btn-orange {
    background-color: transparent;
    border: 2px solid #FF8A00;
    border-radius: 1rem;
    filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
}

#sign_in:hover, .btn-orange:hover {
    background-color: #FF8A00;
}

#sign_in {
    width: 7.5rem;
    height: 2.5rem;
    background-color: transparent;
}

#learn_more {
    width: 10rem;
    height: 2.5rem;
}
/* Add two id's for profile icon link to be circle */
#profile-link {
    scale: 0.8;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
}

#profile-icon {
    width: 100%;
    height: 100%;
    object-fit: none;
    border-radius: 50%;
}

#profile-link:hover {
    scale: 0.85;
}

.price {
    font-size: 0.8rem;
}
/* Hero section */
.hero {
    /* Use blend-mode multiply to set background image and background color */
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/dd2fwm3fh/image/upload/v1699876309/static/images/hero_section_img.0d623fa7fc70.webp");
    background-color: rgba(72, 69, 69, 0.30);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.hero-info {
    display: block;
    padding: 8rem 0 0;
}

.hero-title {
    font-weight: 600;
    text-align: center;
    font-size: 2.4rem;
}

.hero-description {
    font-weight: 600;
    text-align: center;
    margin-top: -1.1rem;
    font-size: 1.3rem;
}

#rent_now {
    width: 11rem;
    height: 2.5rem;
    font-size: 1rem;
    margin: 0 auto;
    position: absolute;
    bottom: 15vh;
    left: calc(50% - 88px);
}
/* About section */
.about-card {
    overflow: hidden;
    border-radius: 15px;
    max-width: 100%;
    filter: drop-shadow(0px 0px 4px #fff);
}

.about-card-img {
    object-fit: cover;
    aspect-ratio: 1 / 0.9;
}

.about-card-info {
    background-color: #26222A;
}

.about-card-title {
    font-size: 2.2rem;
    letter-spacing: -0.04375rem;
}
/* Rules section */
.rules-icon {
    max-height: 75px;
}

.rules-title {
    font-size: 1.2rem;
}

.modal {
    --bs-modal-bg: #26222A;
}

#close_modal {
    width: 5rem;
    height: 2.2rem;
}
/* Cars Page */
.car-img {
    position: relative;
    border-radius: 0.625rem;
}

.car-title {
    font-size: 1rem;
}

.car-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.625rem;
}

.pagination {
    gap: 0.5rem;
}

.page-link {
    font-size: 0.9rem;
    display: unset;
    border: unset;
    color: #26222A;
    padding: 5px 10px !important;
    border-radius: 5px;
}

.page-link:hover {
    background-color: #FF8A00;
    color: #26222A;
}

.page-link:focus {
    background-color: #ff8a00;
    color: #26222A;
    border: unset;
    box-shadow: 0 0 0 0.25rem #ff8a00;
}

.page-link.active {
    background-color: #ff8a00;
    color: #26222A !important;
}

/* Authentication */
.authentication {
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/dd2fwm3fh/image/upload/v1700059861/static/images/rent.6579f75a4313.webp");
    background-color: rgba(38, 34, 42, 0.60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#auth_form {
    max-width: 330px;
}

#auth_btn {
    background-color: #FA8A00;
    font-size: 1.3rem;
    width: 7.75rem;
    margin-left: auto;
}

.form-field label {
    font-size: 1.1rem;
    padding-left: 1rem;
}

.form-field input {
    color: white;
    width: 100%;
    height: 2.2rem;
    background-color: #26222A;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.errorlist {
    margin-left: 1rem;
    padding-left: 0;
}

.errorlist li {
    list-style-type: none;
}
/* Footer section */
footer {
    border-top: 1px solid #fff;
}

.footer-card {
    min-width: 7.2rem;
}

.footer-link {
    text-decoration: none;
    color: #fff;
}

.footer-link:hover {
    color: #FF8A00;
}

@media (min-width: 576px) {
    .nav-link {
        padding: 0 !important;
    }
}

@media (min-width: 768px) {
    .container-big {
        max-width: calc(1300px + 9rem);
        padding: 0 4.5rem;
    }

    .container {
        max-width: calc(1160px + 9rem);
        padding: 0 4.5rem;
    }

    .logo {
        font-size: 2.5rem;
        display: contents;
    }

    .hero-info {
        display: inline-block;
        padding-top: 18rem;
        padding-left: 5rem;
    }

    .hero-title {
        font-size: 4rem;
    }

    .hero-description {
        margin-top: -1.5rem;
        font-size: 2rem;
    }

    .about-card-img {
        max-height: 464px;
    }

    #rent_now {
        position: unset;
        margin: 5rem 0 0 9.5rem;
        width: 260px;
        height: 60px;
        font-size: 2rem;
    }

    #learn_more {
        font-size: 1.2rem;
        width: 12rem;
        height: 3.2rem;
    }

    .rules-icon {
        max-height: 90px;
    }

    .car-title {
        font-size: 1.3rem;
    }

    .price {
        font-size: 1rem;
    }

    .page-link {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 4rem;
    }

    .logo {
        font-size: 3.3rem;
    }

    .about-card-title {
        font-size: 3rem;
    }

    .about-card-subtitle {
        font-size: 2.2rem;
    }

    .about-card-text {
        font-size: 1.4rem;
    }

    .car-title {
        font-size: 1.5rem;
    }

    .price {
        font-size: 1.2rem;
    }

    .authentication {
        max-width: 1040px;
        margin: 8rem auto 2rem !important;
        border-radius: 20px;
    }
}