@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson_Text/CrimsonText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson_Text/CrimsonText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #26222A;
    font-family: "Crimson Text", sans-serif;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

/* Container to wrap content */
.container-big {
    max-width: calc(1300px + 4rem);
    padding: 0 2rem;
    margin: 0 auto;
}

.container {
    max-width: calc(1160px + 4rem);
    padding: 0 2rem;
    margin: 0 auto;
}

.title {
    font-size: 2.8rem;
    letter-spacing: -0.05625rem;
}

.orange {
    color: #FF8A00;
}

.active {
    color: #FF8A00 !important;
}

.d-contents {
    display: contents;
}

/* Header section */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #26222A;
    z-index: 1000;
}

.logo {
    font-size: 2.3rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    transition: scale 0.2s;
}

.nav-link:hover {
    scale: 1.05;
}

li.nav-item:last-of-type {
    margin: 0.4rem 0;
}

.btn-orange {
    background-color: transparent;
    border: 2px solid #FF8A00;
    border-radius: 1rem;
    filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.2s;
}

#sign_in:hover, .btn-orange:hover {
    background-color: #FF8A00;
}

#sign_in {
    width: 7.5rem;
    height: 2.5rem;
    background-color: transparent;
}

#learn_more {
    width: 10rem;
    height: 2.5rem;
}

/* Add two id's for profile icon link to be circle */
#profile-link {
    scale: 0.8;
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    transition: scale 0.2s;
}

#profile-icon {
    width: 100%;
    height: 100%;
    object-fit: none;
    border-radius: 50%;
}

#profile-link:hover {
    scale: 0.85;
}

.price {
    font-size: 0.8rem;
}

/* Hero section */
.hero {
    /* Use blend-mode multiply to set background image and background color */
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/dd2fwm3fh/image/upload/v1699876309/static/images/hero_section_img.0d623fa7fc70.webp");
    background-color: rgba(72, 69, 69, 0.30);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.hero-info {
    display: block;
    padding: 8rem 0 0;
}

.hero-title {
    font-weight: 600;
    text-align: center;
    font-size: 2.4rem;
}

.hero-description {
    font-weight: 600;
    text-align: center;
    margin-top: -1.1rem;
    font-size: 1.3rem;
}

#rent_now {
    width: 11rem;
    height: 2.5rem;
    font-size: 1rem;
    margin: 0 auto;
    position: absolute;
    bottom: 15vh;
    left: calc(50% - 5.5rem);
}

/* About section */
.about-card {
    overflow: hidden;
    border-radius: 1rem;
    max-width: 100%;
    border: 1px solid #fff;
    box-shadow: 0 2px 4px #fff;
}

.about-card-img {
    object-fit: cover;
    aspect-ratio: 1 / 0.9;
}

.about-card-info {
    background-color: #26222A;
}

.about-card-title {
    font-size: 2.2rem;
    letter-spacing: -0.04375rem;
}

/* Rules section */
.rules-icon {
    max-height: 4.6rem;
}

.rules-title {
    font-size: 1.2rem;
}

.modal {
    --bs-modal-bg: #26222A;
}

#close_modal {
    width: 5rem;
    height: 2.2rem;
}

/* Cars Page */
.car-img {
    position: relative;
    border-radius: 0.625rem;
}

.car-title {
    font-size: 1rem;
}

.car-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.625rem;
}

.pagination {
    gap: 0.5rem;
}

.page-link {
    font-size: 0.9rem;
    display: unset;
    border: unset;
    color: #26222A;
    padding: 5px 10px !important;
    border-radius: 5px;
    transition: all 0.2s;
}

.page-link:hover {
    background-color: #FF8A00;
    color: #26222A;
}

.page-link:focus {
    background-color: #ff8a00;
    color: #26222A;
    border: unset;
    box-shadow: 0 0 0 0.25rem #ff8a00;
}

.page-link.active {
    background-color: #ff8a00;
    color: #26222A !important;
}

/* Authentication */
.authentication {
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/dd2fwm3fh/image/upload/v1700059861/static/images/rent.6579f75a4313.webp");
    background-color: rgba(38, 34, 42, 0.60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#auth_form {
    max-width: 20.6rem;
}

#auth_btn {
    background-color: #FA8A00;
    font-size: 1.3rem;
    width: 7.75rem;
    margin-left: auto;
    transition: scale 0.2s;
}

#auth_btn:hover {
    scale: 1.05;
}

.form-field label {
    font-size: 1.1rem;
    padding-left: 1rem;
}

.form-field input {
    color: white;
    width: 100%;
    height: 2.2rem;
    background-color: #26222A;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

/* Booking form */
.booking-form .errorlist {
    margin-left: 8rem;
    padding-left: 0;
}

.booking-form .errorlist li {
    color: red;
}

.errorlist {
    padding-left: 1rem;
}

.errorlist li {
    list-style-type: none;
}

.booking-form {
    max-width: 31.2rem;
    margin: 0 auto;
}

.booking-form-field label {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    color: #ffffff;
}

.booking-form-field input[type="text"],
.booking-form-field input[type="email"],
.booking-form-field input[type="date"],
.booking-form-field select,
.booking-form-field input[type="checkbox"] {
    color: #ffffff;
    max-width: 100%;
    width: calc(100% - 8rem);
    padding: 0.6rem;
    border: none;
    border-bottom: 2px solid #ff8a00;
    margin-bottom: 0.6rem;
    background-color: inherit;
}

.booking-form-field input[type="text"],
.booking-form-field input[type="email"],
.booking-form-field input[type="date"] {
    -webkit-appearance: none;
}

.booking-form-field input[type="checkbox"] {
    width: 1rem;
    margin-right: 0.7rem;
    height: 1rem;
}

/* Style for checkboxes and select dropdown */
.booking-form-field input[type="checkbox"],
.booking-form-field select,
.booking-form-field input[type='date'] {
    cursor: pointer;
    color: #ffffff;
}

.booking-form-field label[for='id_start_date'],
.booking-form-field label[for='id_end_date'] {
    position: relative;
}

.booking-form-field label[for='id_start_date']::after,
.booking-form-field label[for='id_end_date']::after {
    content: '';
    background-image: url('https://res.cloudinary.com/dd2fwm3fh/raw/upload/v1700664857/static/icons/ui_date.9b45aafae9d6.svg');
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 0.2rem;
    cursor: pointer;
}

#booking-rules {
    border: none;
    text-decoration: 1px solid underline;
    background-color: inherit;
    padding: 0.5rem 0;
    color: #ffffff;
}

#booking-rules:hover {
    color: #ff8a00;
}

/* Style for the submit button */
.confirm-booking {
    background-color: #FA8A00;
    color: #ffffff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

/* Profile page */
.profile-icon img {
    width: 5rem;
    height: 5rem;
}

.booking-card {
    max-width: 60rem;
    border: 1px solid;
    border-radius: 1.2rem;
    box-shadow: 0 4px 4px 0 rgba(232, 247, 238, 0.50);
}

.booking-card p, .booking-card span {
    font-size: 0.8rem;
    cursor: default;
}

.booking-price {
    background-color: #ff8a00;
    border-radius: 1rem;
    padding: 0.3rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.booking-actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.booking-actions a:hover {
    scale: 1.1;
    transition: scale 0.2s;
}

/* Alerts */
.my-alert {
    position: fixed;
    top: 7rem;
    right: 1rem;
    z-index: 999;
    padding: 1rem;
    color: #ffffff;
    background-color: inherit;
    border: 2px solid #ff8a00;
    border-radius: 1rem;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.30);
    animation: slideDown 0.5s ease-out;
}

.my-alert p {
    padding: 0;
    margin: 0;
}

.my-alert.error {
    color: red;
    border-color: red;
}

.my-alert.show {
    animation: slideDown 0.5s forwards;
}

.my-alert.hide {
    animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
    from {
        top: 7rem;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes slideDown {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 7rem;
        opacity: 1;
    }
}

/* Footer section */
footer {
    border-top: 1px solid #fff;
}

.footer-card {
    min-width: 7.2rem;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}

.footer-link:hover {
    color: #FF8A00;
}

@media (min-width: 576px) {
    .nav-link {
        padding: 0 !important;
    }

    /* Profile page */
    .profile-icon img {
        width: 7rem;
        height: 7rem;
    }

    .booking-card p, .booking-card span {
        font-size: 1rem;
    }

    .booking-price {
        bottom: 1rem;
        right: 1rem;
    }

    .booking-actions img {
        width: 1.3rem;
        height: 1.3rem;
    }
}

@media (min-width: 768px) {
    .container-big {
        max-width: calc(1300px + 9rem);
        padding: 0 4.5rem;
    }

    .container {
        max-width: calc(1160px + 9rem);
        padding: 0 4.5rem;
    }

    .logo {
        font-size: 2.5rem;
        display: contents;
    }

    .hero-info {
        display: inline-block;
        padding-top: 18rem;
        padding-left: 5rem;
    }

    .hero-title {
        font-size: 4rem;
    }

    .hero-description {
        margin-top: -1.5rem;
        font-size: 2rem;
    }

    .about-card-img {
        max-height: 29rem;
    }

    #rent_now {
        position: unset;
        margin: 5rem 0 0 9.5rem;
        width: 16.2rem;
        height: 3.7rem;
        font-size: 2rem;
    }

    #learn_more {
        font-size: 1.2rem;
        width: 12rem;
        height: 3.2rem;
    }

    .rules-icon {
        max-height: 5.6rem;
    }

    .car-title {
        font-size: 1.3rem;
    }

    .price {
        font-size: 1rem;
    }

    .page-link {
        font-size: 1rem;
    }

    .booking-actions img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 4rem;
    }

    .logo {
        font-size: 3.3rem;
    }

    .about-card-title {
        font-size: 3rem;
    }

    .about-card-subtitle {
        font-size: 2.2rem;
    }

    .about-card-text {
        font-size: 1.4rem;
    }

    .car-title {
        font-size: 1.5rem;
    }

    .price {
        font-size: 1.2rem;
    }

    .authentication {
        max-width: 1040px;
        margin: 8rem auto 2rem !important;
        border-radius: 20px;
    }

    /* Profile page */
    .profile-icon img {
        width: 9rem;
        height: 9rem;
    }

    .booking-card p, .booking-card span {
        font-size: 1.3rem;
    }

    .booking-actions img {
        width: 1.7rem;
        height: 1.7rem;
    }
}