{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="pt-5 container mt-5 text-white">
        <h1 class="title text-center mt-2 mt-lg-4">Car Reservation</h1>
        <div class="car-detail d-flex flex-column flex-sm-row justify-content-sm-center">
            <div class="car-img d-block overflow-hidden mb-2 col-8 col-sm-4 mx-auto mx-sm-0">
                <img src="{{ car.car_image.url }}" alt="{{ car.make }} {{ car.model }}" class="d-block w-100 h-auto">
            </div>
            <div class="car-info col-sm-6 px-sm-4">
                <h2 class="mb-1">{{ car.make }} {{ car.model }}</h2>
                <p class="mb-1">Year: {{ car.year }}</p>
                <p class="mb-1">Transmission type: {{ car.transmission_type|title }}</p>
                <p class="mb-1">Fuel type: {{ car.fuel_type|title }}</p>
                <p class="mb-1">Seats: {{ car.seats }}</p>
            </div>
        </div>
    </section>
{% endblock %}