{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">
{% endblock %}

{% block content %}
    <section class="py-5 container my-5 text-white">
        <h1 class="title text-center mt-2 mt-lg-4">Car Reservation</h1>
        <div class="car-detail d-flex flex-column flex-sm-row justify-content-sm-center">
            <div class="car-img d-block overflow-hidden mb-2 col-8 col-sm-4 mx-auto mx-sm-0">
                <img src="{{ car.car_image.url }}" alt="{{ car.make }} {{ car.model }}" class="d-block w-100 h-auto"
                     loading="lazy">
            </div>
            <div class="car-info col-sm-6 px-sm-4">
                <h2 class="mb-1">{{ car.make }} {{ car.model }}</h2>
                <p class="mb-1">Year: {{ car.year }}</p>
                <p class="mb-1">Transmission type: {{ car.transmission_type|title }}</p>
                <p class="mb-1">Fuel type: {{ car.fuel_type|title }}</p>
                <p class="mb-1" id="car_seats">Seats: {{ car.seats }}</p>
                <p class="mb-1" id='price_per_day'><b>Price per Day: </b>{{ car.price_per_day }}€</p>
            </div>
        </div>
        {% if user.is_authenticated %}
            <form method="post" class="booking-form d-flex flex-column my-3">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'start_date' %}
                        <div class="booking-form-field">
                            <label for="{{ field.id_for_label }}">From:{{ field }}</label>
                            {{ field.errors }}
                        </div>
                    {% elif field.name == 'end_date' %}
                        <div class="booking-form-field">
                            <label for="{{ field.id_for_label }}">To (max 1 month):{{ field }}</label>
                            {{ field.errors }}
                        </div>
                    {% elif field.name == 'child_seat' %}
                        {% if car.seats >= 4 %}
                            <div class="booking-form-field">
                                <label for="{{ field.id_for_label }}">Child seat (+15€):{{ field }}</label>
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="booking-form-field">
                            <label for="{{ field.id_for_label }}">{{ field.label }}:{{ field }}</label>
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="booking-form-field d-flex justify-content-between align-items-center">
                    <button type="button" id="booking-rules" data-bs-toggle="modal"
                            data-bs-target="#RentalRulesModal">Read the Rental Rules
                    </button>
                    <p class="m-0">Total price: <span id="total_price">0€</span></p>
                </div>
                <div class="booking-form-field d-flex">
                    <button type="submit" class="btn-orange text-white mx-auto p-2">Confirm booking</button>
                </div>
            </form>
            <div class="modal fade text-white" tabindex="-1" id="RentalRulesModal">
                <div class="modal-dialog modal-dialog-scrollable ">
                    <div class="modal-content">
                        <div class="modal-header shadow">
                            <h5 class="modal-title">Rental Rules</h5>
                        </div>
                        <div class="modal-body">
                            <p><b>Driving License:</b><br> A valid driving license with a minimum of 2 years of driving
                                experience is required.</p>
                            <p><b>Age-Based Insurance:</b></p>
                            <ul>
                                <li>Ages 20-25: Young Driver Insurance</li>
                                <li>Ages 25-50: Standard Driver Insurance</li>
                                <li>Ages 50+: Senior Driver Insurance</li>
                            </ul>
                            <p><b>Mileage Limit:</b><br> Each rental comes with a standard daily mileage limit. Excess
                                mileage
                                will incur additional charges.</p>
                            <p><b>Maximum Booking Duration:</b><br> Please note that the maximum duration for booking
                                any of
                                our
                                vehicles is limited to one month. This policy is in place to ensure the highest
                                standards of
                                vehicle maintenance and safety. We conduct comprehensive checks and servicing of all our
                                cars on a monthly basis. This routine maintenance helps us ensure that every vehicle in
                                our
                                fleet is in optimal condition, providing you with a safe and reliable driving
                                experience.
                            </p>
                            <p><b>Fuel Policy:</b><br> Vehicles must be returned with the same amount of fuel as at the
                                start of
                                the rental to avoid refueling charges.</p>
                            <p><b>Additional Drivers:</b><br> Must be registered at the time of rental and meet the same
                                requirements as the primary driver.</p>
                            <p><b>Damage Policy:</b><br> Any damage to the vehicle not covered by insurance will be the
                                responsibility of the renter.</p>
                            <p><b>Late Return:</b><br> Late returns may be subject to extra day charges at the daily
                                rate.
                            </p>
                            <p><b>Booking Cancellation:</b><br> Free cancellation up to 48 hours before the pick-up
                                time.
                                Late
                                cancellations may incur a fee.</p>
                            <p><b>No Smoking:</b><br> All vehicles are non-smoking. A cleaning fee will be charged if
                                this
                                rule
                                is violated.</p>
                            <p><b>Prohibited Use:</b><br> Vehicles cannot be used for off-roading, racing, or any
                                illegal
                                activities.</p>
                            <p><b>Geographical Restrictions:</b><br> Vehicles must not be taken out of the predefined
                                rental
                                area without prior approval.</p>
                            <p><b>Payment:</b><br> Rental charges must be paid in full at the time of vehicle pick-up.
                            </p>
                            <p><b>Vehicle Condition:</b><br> The renter agrees to maintain the vehicle's condition,
                                reporting
                                any mechanical issues immediately.</p>
                            <p><b>Emergency Procedures:</b><br> In case of an accident or emergency, renters must follow
                                the
                                outlined procedures provided at the time of rental.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-orange text-white" id="close_modal"
                                    data-bs-dismiss="modal">
                                Okay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h3 class="text-center mt-5">To book a car you have to <a
                href="{% url 'account_login' %}"
                class="orange text-decoration-none">Sign in</a> first</h3>
        {% endif %}
    </section>
    {% block scripts %}
        <script type="text/javascript">
            if (typeof window.bookedDates === 'undefined') {
                window.bookedDates = {{ booked_dates|safe }};
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
        <script src="{% static 'js/booking.js' %}"></script>
    {% endblock %}
{% endblock %}