{% extends 'base.html' %}

{% block content %}
    <section class="hero">
        <div class="container">
            <div class="hero-info">
                <h1 class="text-white hero-title">Explore in Style</h1>
                <p class="text-white hero-description">Your journey, your terms</p>
            </div>
            <button class="btn-orange text-white d-block" id="rent_now">RENT NOW</button>
        </div>
    </section>
    <section class="about container">
        <h2 class="text-white text-center pt-5 about-title">About Us</h2>
        <article class="about-card my-3">
            <img class="about-card-img" src="../static/images/cars.webp" alt="Our cars">
            <div class="about-card-info p-3">
                <h3 class="about-card-title fw-bold text-center">Cars</h3>
                <h4>Quality and Reliability Assured</h4>
                <p class="m-0">At GG Car Rental, we take pride in our fleet, comprising only the finest vehicles in the
                    market.
                    Each car undergoes rigorous pre-rental inspections and regular maintenance checks to ensure your
                    safety and comfort. Our commitment is to provide you with a vehicle in pristine condition, making
                    every journey enjoyable and carefree.
                </p>
            </div>
        </article>
        <article class="about-card my-3">
            <img class="about-card-img" src="../static/images/pricing.webp" alt="Our price">
            <div class="about-card-info p-3">
                <h3 class="about-card-title fw-bold text-center">Pricing</h3>
                <h4>Driving Without Compromise</h4>
                <p class="m-0">At GG Car Rental, we believe that premium car rental services should not cost a fortune.
                    Our pricing strategy is designed to offer you the most competitive rates with no hidden fees.
                    We provide transparent rental terms and flexible options, allowing you to enjoy your drive
                    without financial worries.
                </p>
            </div>
        </article>
        <article class="about-card my-3">
            <img class="about-card-img" src="../static/images/customer_service.webp" alt="Our service">
            <div class="about-card-info p-3">
                <h3 class="about-card-title fw-bold text-center">Customer Service</h3>
                <h4>Your Satisfaction, Our Priority</h4>
                <p class="m-0">At GG Car Rental, we take pride in our fleet, comprising only the finest vehicles in the
                    market.
                    Each car undergoes rigorous pre-rental inspections and regular maintenance checks to ensure your
                    safety and comfort. Our commitment is to provide you with a vehicle in pristine condition, making
                    every journey enjoyable and carefree.
                </p>
            </div>
        </article>
    </section>
{% endblock content %}