{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="hero">
        <div class="container">
            <div class="hero-info">
                <h1 class="text-white hero-title">Explore in Style</h1>
                <p class="text-white hero-description">Your journey, your terms</p>
            </div>
            <a href="{% url 'cars-list' %}" class="d-contents">
                <button class="btn-orange text-white d-block" id="rent_now">RENT NOW</button>
            </a>
        </div>
    </section>
    <section class="about container">
        <h2 class="text-white text-center pt-5 title">About Us</h2>
        <article class="about-card d-flex flex-column flex-sm-row my-4 my-md-5">
            <img class="about-card-img col-sm-5 order-sm-last" src="{% static 'images/cars.webp' %}" alt="Our cars">
            <div class="about-card-info p-3 col-sm-7 text-white d-lg-flex flex-lg-column gap-lg-1 p-xl-4">
                <h3 class="about-card-title fw-bold text-center">Cars</h3>
                <h4 class="about-card-subtitle">Quality and Reliability Assured</h4>
                <p class="m-0 about-card-text">At SwiftGo, we take pride in our fleet, comprising only the finest
                    vehicles in the market.
                    Each car undergoes rigorous pre-rental inspections and regular maintenance checks to ensure your
                    safety and comfort. Our commitment is to provide you with a vehicle in pristine condition, making
                    every journey enjoyable and carefree.
                </p>
            </div>
        </article>
        <article class="about-card d-flex flex-column flex-sm-row my-4 my-md-5">
            <img class="about-card-img col-sm-5" src="{% static 'images/pricing.webp' %}" alt="Our price">
            <div class="about-card-info p-3 col-sm-7 text-white d-lg-flex flex-lg-column gap-lg-1 p-xl-4">
                <h3 class="about-card-title fw-bold text-center">Pricing</h3>
                <h4 class="about-card-subtitle">Driving Without Compromise</h4>
                <p class="m-0 about-card-text">At SwiftGo, we believe that premium car rental services should not cost a
                    fortune.
                    Our pricing strategy is designed to offer you the most competitive rates with no hidden fees.
                    We provide transparent rental terms and flexible options, allowing you to enjoy your drive
                    without financial worries.
                </p>
            </div>
        </article>
        <article class="about-card d-flex flex-column flex-sm-row my-4 my-md-5">
            <img class="about-card-img col-sm-5 order-sm-last" src="{% static 'images/customer_service.webp' %}"
                 alt="Our service">
            <div class="about-card-info p-3 col-sm-7 text-white d-lg-flex flex-lg-column gap-lg-1 p-xl-4">
                <h3 class="about-card-title fw-bold text-center">Customer Service</h3>
                <h4 class="about-card-subtitle">Your Satisfaction, Our Priority</h4>
                <p class="m-0 about-card-text">At SwiftGo, we take pride in our fleet, comprising only the finest
                    vehicles in the market.
                    Each car undergoes rigorous pre-rental inspections and regular maintenance checks to ensure your
                    safety and comfort. Our commitment is to provide you with a vehicle in pristine condition, making
                    every journey enjoyable and carefree.
                </p>
            </div>
        </article>
    </section>
    <section class="rules container mb-5 pb-5">
        <h2 class="title text-white pt-5 text-center">Rental Rules</h2>
        <div
            class="d-flex flex-column flex-md-row align-items-center align-items-md-baseline justify-content-md-evenly flex-md-wrap gap-4 mt-4 mt-md-5">
            <div class="d-flex flex-column align-items-center">
                <img class="rules-icon mb-3" src="{% static 'icons/drivers_license.svg' %}" alt="Drivers license">
                <h3 class="text-white rules-title">Driving License</h3>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img class="rules-icon mb-3" src="{% static 'icons/human.svg' %}" alt="Human">
                <h3 class="text-white rules-title">Age-Based Insurance</h3>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img class="rules-icon mb-3" src="{% static 'icons/fuel.svg' %}" alt="Drivers license">
                <h3 class="text-white rules-title">Fuel Policy</h3>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img class="rules-icon mb-3" src="{% static 'icons/road_accident.svg' %}" alt="Road accident">
                <h3 class="text-white rules-title">Emergency Procedures</h3>
            </div>
        </div>
        <div class="text-center my-3 my-md-5 pt-5">
            <button class="btn-orange text-white" id="learn_more" data-bs-toggle="modal"
                    data-bs-target="#RentalRulesModal">Learn More
            </button>
        </div>
        <div class="modal fade text-white" tabindex="-1" id="RentalRulesModal">
            <div class="modal-dialog modal-dialog-scrollable ">
                <div class="modal-content">
                    <div class="modal-header shadow">
                        <h5 class="modal-title">Rental Rules</h5>
                    </div>
                    <div class="modal-body">
                        <p><b>Driving License:</b> A valid driving license with a minimum of 2 years of driving
                            experience is required.</p>
                        <p><b>Age-Based Insurance:</b></p>
                        <ul>
                            <li>Ages 20-25: Young Driver Insurance</li>
                            <li>Ages 25-50: Standard Driver Insurance</li>
                            <li>Ages 50+: Senior Driver Insurance</li>
                        </ul>
                        <p><b>Mileage Limit:</b> Each rental comes with a standard daily mileage limit. Excess mileage
                            will incur additional charges.</p>
                        <p><b>Fuel Policy:</b> Vehicles must be returned with the same amount of fuel as at the start of
                            the rental to avoid refueling charges.</p>
                        <p><b>Additional Drivers:</b> Must be registered at the time of rental and meet the same
                            requirements as the primary driver.</p>
                        <p><b>Damage Policy:</b> Any damage to the vehicle not covered by insurance will be the
                            responsibility of the renter.</p>
                        <p><b>Late Return:</b> Late returns may be subject to extra day charges at the daily rate.</p>
                        <p><b>Booking Cancellation:</b> Free cancellation up to 48 hours before the pick-up time. Late
                            cancellations may incur a fee.</p>
                        <p><b>No Smoking:</b> All vehicles are non-smoking. A cleaning fee will be charged if this rule
                            is violated.</p>
                        <p><b>Prohibited Use:</b> Vehicles cannot be used for off-roading, racing, or any illegal
                            activities.</p>
                        <p><b>Geographical Restrictions:</b> Vehicles must not be taken out of the predefined rental
                            area without prior approval.</p>
                        <p><b>Payment:</b> Rental charges must be paid in full at the time of vehicle pick-up.</p>
                        <p><b>Vehicle Condition:</b> The renter agrees to maintain the vehicle's condition, reporting
                            any mechanical issues immediately.</p>
                        <p><b>Emergency Procedures:</b> In case of an accident or emergency, renters must follow the
                            outlined procedures provided at the time of rental.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-orange text-white" id="close_modal" data-bs-dismiss="modal">
                            Okay
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}